<section class="mobile-app" id="MobApp">
  <div class="app-left-side">
    <h2 class="section-title">
      <span class="accent">Download</span>
      our apps to start ordering
    </h2>
    <p class="app-mobile__description">
      Download the Resource app today and experience the comfort of ordering
      your favorite coffee from wherever you are
    </p>
    {{> home/mobile-app/button-group/button-group }}
  </div>
  <div class="app-right-side">
    <img
      src="/src/assets/images/mobile-app/phones.png"
      alt="2 phones"
      width="630"
      height="630"
    />
  </div>
</section>
