@use "../../../../styles/globals" as *;

.pagination {
  margin-top: 30px;
  @include flex-center;
  gap: 6px;

  &__line-wrap {
    padding: 5px 3px;
  }

  &__line {
    background-color: var(--border-primary);
    width: 40px;
    height: 4px;
    border-radius: 100px;
    transition: background-color var(--slider-animation-duration) ease-in-out;

    &.active {
      background-color: var(--border-inverse);
    }
  }
}
