<section class="enjoy">
  <img
    class="enjoy__bg"
    src="/src/assets/images/Enjoy/bg.jpg"
    alt=""
    width="1440"
    height="745"
  />
  <div class="enjoy__container">
    <h1 class="enjoy__title">
      <span class="accent">Enjoy</span>
      premium<br />
      coffee at our<br />
      charming cafe
    </h1>
    <p class="enjoy__description">
      With its inviting atmosphere and delicious coffee options, the Coffee
      House Resource is a popular destination for coffee lovers and those
      seeking a warm and inviting space to enjoy their favorite beverage.
    </p>
    <a class="btn-home" href="{{basePath}}menu/">
      <span class="btn-home__text">Menu</span>
      {{> shared/icons/coffee-cup }}
    </a>
  </div>
</section>
