<header class="header">
  <a class="home-link" href="{{basePath}}">
    <img
      src="/src/assets/images/header/logo.svg"
      class="resourse-logo"
      alt="Resourse logo"
      width="100"
      height="60"
    />
  </a>

  <nav>
    <ul class="nav-list">
      <li class="nav-list__item">
        <a class="nav-list__link" href="{{basePath}}#favorite-coffee"> Favorite coffee </a>
      </li>

      <li class="nav-list__item">
        <a class="nav-list__link" href="{{basePath}}#about"> About </a>
      </li>

      <li class="nav-list__item">
        <a class="nav-list__link" href="{{basePath}}#mobile-app"> Mobile app </a>
      </li>

      <li class="nav-list__item">
        <a class="nav-list__link" href="{{basePath}}#contacts"> Contact us </a>
      </li>
    </ul>

    <a class="menu-link mobile" href="{{basePath}}menu/">
      <span>Menu</span>

      <img
        class="button-icon"
        src="/src/assets/images/header/coffee-cup.svg"
        alt="coffee cup"
      />
    </a>
  </nav>

  <a class="menu-link desctop" href="{{basePath}}menu/">
    <span>Menu</span>

    <img
      class="button-icon"
      src="/src/assets/images/header/coffee-cup.svg"
      alt="coffee cup"
    />
  </a>

  <button class="header-burger" type="button" aria-label="Open menu">
    <span class="header-burger__line top"></span>
    <span class="header-burger__line bottom"></span>
  </button>
</header>
