.wrapper-slider {
  max-width: 480px;
  overflow-x: hidden;
}

.slide {
  position: relative;
  display: flex;
}

.slide.is-ready {
  transition: transform var(--slider-animation-duration) ease-in-out;
}
