.slider__viewport {
  max-width: 480px;
  overflow-x: hidden;
  touch-action: pan-y;
}

.slider__track {
  position: relative;
  display: flex;

  &.is-ready {
    transition: transform var(--slider-animation-duration) ease-in-out;
  }
}
